<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MyWebpage</title>
    <style>
      h1{
        text-align:center;
        font-family:courier;
        }
      .Header{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        width: 75% ;
        }
      .left{
        text-align: center;
        font-family: arial;
        float: left;
        width: 30%;
        padding:15px;
        border: 2px solid black;
      }
      .right{
        text-align:center;
        font-family: arial;
        float:right;
        width: 50%;
        padding:20px;
        border: 2px solid black;
      }
      body{
        background-color: light grey;
      }
      section:after{
        display: table;
        content: "";
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class = "center jumbotron">
      <h1>ALPHA BLOG</h1>
      <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
  </body>
</html>
