<div class="container">
  <footer class="footer">
  <small>
    copyright &copy; <a href="https://www.alpha-blog-johnty.herokuapp.com">Alpha Blog: A new way to share</a>
    by <a href="https://www.alpha-blog-johnty.herokuapp.com">John's Work</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
      </ul>
    </nav>
  </footer> 
</div>